:root {
  /* Colors */
  --color-primary: #007BFF;
  --color-success: #28a745;
  --color-danger: #DC3545;
  --color-warning: #FFC107;

  --color-bg: #F3F3F3;
  --color-surface: #FFFFFF;
  --color-border: #E6E7EC;

  --color-text-main: #212529;
  --color-text-muted: #6C757D;

  /* Typography */
  --font-main: 'Roboto', sans-serif;
  --font-hd: 'Montserrat', sans-serif;

  --fs-h1: 32px; /* Уменьшил с 48px для адекватности */
  --fs-base: 16px;
  --fs-sm: 14px;
  --fs-xs: 12px;

  /* Spacing */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-sm-high: 12px;
  --space-md: 16px;
  --space-lg: 24px;

  /* Shared */
  --radius-md: 12px;
  --shadow-sm: 0 2px 8px rgba(0, 0, 0, 0.05);
  --transition: all 0.2s ease-in-out;
}

/* Базовый сброс */
body {
  margin: 0;
  font-family: var(--font-main);
  background-color: var(--color-bg);
  color: var(--color-text-main);
}

h1, h2, h3 {
  font-family: var(--font-hd);
  margin: 0;
}
